<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Crud application</display-name>

    <description>
        Crud application
    </description>

    <resource-env-ref>
        <resource-env-ref-name>jdbc/mcloud_test</resource-env-ref-name>
        <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
    </resource-env-ref>

    <servlet>
        <servlet-name>ViewUserServlet</servlet-name>
        <servlet-class>ru.crudgroup.crud.servlets.ViewUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewUserServlet</servlet-name>
        <url-pattern>/user/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>ru.crudgroup.crud.servlets.EditUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/user/edit</url-pattern>
    </servlet-mapping>

</web-app>